body 
{
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

img
{
    background-color: cornflowerblue;
}

a.recordVid {
    display: block;
    position: relative;
}

a.recordVid span {
    background: url(file:///C:/Users/admin/Desktop/Quantum/QuantumInterface/web/play_black.png) no-repeat;
    -moz-opacity: .80;
    opacity: .80;
    filter: alpha(opacity=80);
    display: block;
    position: absolute;
    top: 35px;
    left: 110px;
    z-index: 100;
    width: 70px;
    height: 49px;
    color: white;
    font-size: 60px;
}

a.recordVid:hover span {
    background: url(file:///C:/Users/admin/Desktop/Quantum/QuantumInterface/web/play_red.png) no-repeat;
    -moz-opacity: .80;
    opacity: .80;
    filter: alpha(opacity=80);
    display: block;
    position: absolute;
    top: 35px;
    left: 110px;
    z-index: 100;
    width: 70px;
    height: 49px;
    color: red;
    font-size: 60px;
}

/*90x100deep*/
/*260x146deep*/


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    max-width: 600px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt 
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
}

.header
{
    background-color: black;
    /*padding:20px;*/
    padding-left: 7px;
}

.header p
{
    color:#fff;
}

.header h2
{
    color:#fff;
}

.navbar
{
    border-radius:0px;
    text-align: left;
}
.navbar-default 
{
    background-color: black;
    border-color: black;
    text-align: left;
    padding-left:7px
}
.navbar-default .navbar-brand 
{
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus 
{
  color: #fff;
}
.navbar-default .navbar-text 
{
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a 
{
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus 
{
  color: #fff;
}

.navbar-default .navbar-nav > .active
{
    border-bottom:5px solid #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus 
{
  color: #fff;
  background-color: black;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus 
{
  color: #fff;
  background-color: black;
}
.navbar-default .navbar-toggle 
{
  border-color: black;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus 
{
  background-color: black;
}
.navbar-default .navbar-toggle .icon-bar 
{
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form 
{
  border-color: #ffffff;
}
.navbar-default .navbar-link 
{
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #fff;
}

/* Images Start */
.swiper-container 
{
    width: 100%;
    height: 115px;
    margin: 20px auto;
}

.swiper-slide 
{
    text-align: center;
    font-size: small;
    background: #fff;
        
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    width: auto;
    margin-right: 1px;
}

div#sliderImage {
    /*min-width: 50px;
    max-width:400px;
    max-height:300px;
    padding: 0px;
    margin:0px;
    display:inline-block;*/
    /*height: 150px;*/
    width: 120px;
}
div#sliderImage img {
    height: 100%;
}

/*The divs used within the sliderimage. Necessary to properly resize the images.*/
.sliderImageImage {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornflowerblue;
}

/*The divs used within the textImage section. Necessary to properly resize the images.*/
.textItemImage {
    width: 90px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornflowerblue;
}

/*The divs used within the imageList section. Necessary to properly resize the images.*/
.imageListImage {
    width: 160px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornflowerblue;
}

#swiper-container p
{
    /*font-size:12px;*/
}

#characterCard img
{
    max-height:150px;
}
/* Images End */


/* Videos Start */
div#sliderVideo 
{
    /*min-width: 50px;
    max-width:400px;
    max-height:300px;
    padding: 0px;
    margin:0px;
    display:inline-block;*/
    width: auto;
    height: 150px;
}
div#sliderVideo img 
{
    height: 100%;
}
/* Videos End */


#reviews_main
{
    margin-top:10px;
    border-bottom:1px solid #DBD8D8;
}

.shadow
{
    box-shadow: 0 0 2px #000;
}

td img 
{
    max-width:100%;
    height:auto;
}

#characterCard
{
    max-width:100%;
    height:auto;
}
    
#characterCard img
{
    max-width:100%;
    height:auto;
}
td p
{
    padding:0px;
    margin:0px;
}


@media screen and (max-width: 768px){
    .navbar-default .navbar-nav > .active {
            font-weight: bold;
}
        
  
}
   
.ui-loading { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }
/*---------- 1010 style ---------*/
.tab-content{
    position: relative;
    width: 100%;
}
html, body {
    position: relative;
}
iframe{
    width: 100% !important;
}
/*.sliderImage {
    display: block;
}
.sliderImage a{
    display: block; 
    width: 180px;
}*/
/*.sliderImage a img{
    width: 150px;
}*/